$font: "Open Sans";
$primary: #333;
$Black18: #181818;
$White: #ffffff;
$Login-BG: #21453c;
$Page-BG: #f3f3f3;
$TextUI-Green: #4fa556;
$Breathe-ESG-Green: #235e4a;
$BlockUI-green: #2e9844;
$Dark-Grey: #333333;
$Grey: #9f9f9f;
$Grey-light-Block: #fafafa;
$Grey-Lightest: #f3f3f3;
$Grey-Darker: #666666;
$Error-Red: #f04f6d;
$Error-Red-trial: #ed6262;
$Mandatory-Red: #ca3c25;
$Warning-Amber: #f09948;
